body 
{    
    overflow: hidden;
    background-color: Black;
}

.dialog
{
    display: none;   
}

.Section 
{
    border: 1px solid gray;
    margin-top: 1em;
    margin-bottom: 1em;
}

.North
{
    clear: both;
    text-align: center;   
}

.West
{
    float: left;
    text-align: center;
}

.East
{
    float: right;
    text-align: center;
}

.South
{
    clear: both;
    text-align: center;   
}

/* A class to use on jQuery-UI dialog boxes where we want no "close" button */
.no-close .ui-dialog-titlebar-close 
{
    display: none 
}